html {
  height: 100%;
  width: 100%;
}
/* 12 grid */
.layout{
  border: 2px solid #000000;
  display: grid;
  grid: 
    "span12 span12 span12 span12 span12 span12 span12 span12 span12 span12 span12 span12" 1fr
  "span6 span6 span6 span6 span6 span6 . . . . . ."1fr
  ". . . . . span3 . . . . . ."1fr
  ". . . . span1 . . . . . . . " 1fr
  / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
}
.span12{grid-area:span12; background-color: #8892e2;}
.span6{grid-area:span12; background-color: #8892e2;}
.span3{grid-area:span12; background-color: #8892e2;}
.span1{grid-area:span12; background-color: #8892e2;}
/* 3x3 */
.layout2{
   border: 2px solid #000000;
  width: 99%;
  height: 300px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap:5 px;
}
.x3{
  background-color: #8dddd0;
  border: 2px solid #ffd970
}
/* Holy Grail */
.layout3{
   border: 2px solid #000000;
  width: 99%;
  height: 300px;
  display: grid;
  grid: 
    "header header header" auto
  "leftSide body rightSide"1fr
  "footer footer footer"auto
  / auto 1fr auto;
  gap: 5px; 
}
.header{grid-area: header; background-color: #3e988e;}
.leftside{grid-area: leftside; background-color: #a665b8;}
.rightside{grid-area: rightSide; background-color: #4e4eb1;}
.body{grid-area: body; background-color: #9a9adf;}
.footer{grid-area: footer; background-color: #ce4040;}
/* Sidebar */
.layout4{
   border: 2px solid #000000;
  width: 99%;
  height: 300px;
  display: grid;
  grid: 
    "sidebar body1"1fr
  / auto 1fr; 
  gap: 5px;
}
.sidebar{grid-area: sidebar; background-color: #3e988e;}
.body1{grid-area: body1; background-color: #9a9adf;}
/* Header Main Footer */
.layout5{
   border: 2px solid #000000;
  width: 99%;
  height: 300px;
  display: grid;
  grid: 
    "header1" auto
  "main" 1fr
  "footer1" auto
  / 1fr;
  gap:5px; 
}
.header1{grid-area: header1; background-color: #3e988e;}
.main{grid-area: main; background-color: #9a9adf;}
.footer1{grid-area: footer1; background-color: #ce4040;}
/* Infinite Rows */
.layout6{
   border: 2px solid #000000;
  width: 99%;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(auto-fit,1fr);
  gap: 5px;
}
.box{
  border: 1px solid #868cdf;
  background-color: darkturquoise;
}
/*Infinite Rows With Areas */
.layout7{
   border: 2px solid #000000;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(auto-fit,1fr);
  gap: 5px;
}
.col1Last1{
  grid-column: 1/-1;
}
/*Flexbox Row*/
.layout8{
  display: flex;
  gap: 10px;
  
}
/* Flexbox Row */
.layout8{
   border: 2px solid #000000;
  background-color: #6284a3;
  display: flex;
  gap: 10px;
}
/* Flexbox Row Wrap */
.layout9{
  border: 2px solid #db9600;
    width: 100%;
  display: flex;
  gap:10px;
  flex-wrap: wrap;
}
/* Flexbox Fill Space */
.layout10{
   border: 2px solid #6fce82;
  background-color: #6284a3;
  display: flex;
  gap: 10px;
}
.grow1{
  flex-grow: 1;
}
/* Flexbox Fill Reamining Space */
.layout11{
   border: 2px solid #941955;
  background-color: #8a73dd;
  display: flex;
  gap: 10px;
}
/* Flexbox Fill Seperate */
.layout12{
   border: 2px solid #fbd47e;
  background-color: #8cba6d;
  display: flex;
  gap: 10px;
}
.marginLeft{
  margin-left: auto;
}
.layout13{
  border: 2px solid #fbd47e;
  background-color:#8892e2;
  display: flex;
  width: 99%;
  height: 300px;
  gap:10px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(auto-fit,1fr);
}

/*animations*/
/*2 d animation X and Y axis*/
#twoD{
  border: 3px dashed #8d8dce;
  background-color: #a97998;
}
/* Translate Method */
.trans:hover{
  transform: translate(50px, 100px);
}
/* Translate X Method */
.transX:hover{
  transform: translateX(50px);
}
/* Translate Y Method */
.transY:hover{
  transform: translateY(100px);
}
/*Rotate method */
#rotate:hover{
  transform: rotate(20deg);
}
/* Rotate X Method */
#rotateX: hover{
  transform: rotateX(180deg);
}
/* Rotate Y method */
#rotateY:hover{
  transform: rotateY(180deg);
}
/* Scale Method */
#scale:hover{
  transform: scale(2,3);
}
/* Scale X Method */
#scaleX:hover{
  transform: scaleX(2)
}
/* Rotate Y method */
#scaleY:hover{
  transform: scaleY(3)
}
/*Skew Method */
#skew:hover{
  transform: skew(20deg, 20deg);
}
/*Skew X Method */
#skewX:hover{
  transform: skewX(20deg);
}
/*Skew Y Method */
#skewY:hover{
  transform: skewY(20deg);
}
/* Matrix Method */
/*matrix(scaleX, skewY, SkewX, scaleY, translateX, translateY)*/
#matrix:hover{
transform:matrix();
}
/*3 D animations X, Y, Z axis */
/*Translate 3D method*/
/*Scale 3D method */
/* rotate 3D method */
/* Persepctive Method */
/* Matrix 3D method */
/*  */
/* */